<h3>Hero Form</h3>

<h4>{{model | json}}</h4>

<form #heroForm="ngForm">

  <div class="flex-container">

    <div class="form-group">
      <label for="name">Name: </label>
      <div class="text-box">
        <input type="text" class="form-control" id="name" required
               [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert-danger">
          *Name is Required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego: </label>
      <div class="text-box">
        <input type="text" class="form-control" id="alterEgo" required
               [(ngModel)]="model.alterEgo" name="alterEgo" #alterEgo="ngModel">
        <div [hidden]="alterEgo.valid || alterEgo.pristine" class="alert-danger">
          *Ego is Required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="power">Hero Power: </label>
      <div class="text-box">
        <select class="form-control" id="power" required name="power" [(ngModel)]="model.power">
          <option *ngFor="let power of powers" [value]="power">{{power}}</option>
        </select>
      </div>
    </div>

  </div>

</form>
